.transparent-bg {
  background-color: transparent !important; /* Use !important to override any existing styles */
}

.hero {
  background: url('images/menu-planner-hero.png') no-repeat center center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent overlay to enhance text readability */
}




.testimonial {
  font-style: italic;
  margin-top: 20px;
  color: #f0f0f0;
  font-size: 0.9em;
}

.login-link {
  margin-top: 20px; /* Adds some space above the link */
  font-size: 1rem; /* Standard readable font size */
  color: #ffffff; /* Sets the text color to white */
}

.login-link a {
  color: #aad3e9; /* Light blue color for the link, softer than pure white */
  text-decoration: none; /* Removes underline from the link */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.login-link a:hover,
.login-link a:focus {
  color: #ffffff; /* Changes color back to white on hover/focus for better visibility */
  text-decoration: underline; /* Adds underline on hover/focus for emphasis */
}

.dashboard {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard h1 {
  color: #333;
}

.quick-actions button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quick-actions button:hover {
  background-color: #0056b3;
}

.fixed-width-dropdown .dropdown-toggle {
  width: 150px; /* Set a fixed width */
  overflow: hidden;  /* Prevent text from overflowing */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
}



